<link rel="stylesheet" href="static/css/chessboard-1.0.0.min.css"></link>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
        crossorigin="anonymous"></script>

<script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
        integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
        crossorigin="anonymous"></script>

<h1 style="font-size:40px;text-align:center"> Find Your Next Chess Move </h1>
<h2 style="margin-left:225px"> Set Up Your Chessboard: </h2>

<div id="board2" style="margin-left:150px;width:420px"></div>

<br>

<button id="startBtn" style="margin-left:150px">Set To Start Position</button>

<button id="clearBtn">Clear Board</button>


<script>
$(document).ready(function() {
  var config = {
  pieceTheme: 'static/img/chesspieces/wikipedia/{piece}.png',
  draggable: true,
  dropOffBoard: 'trash',
  sparePieces: true

  }
  var board2 = Chessboard('board2', config)

  $('#startBtn').on('click', board2.start)
  $('#clearBtn').on('click', board2.clear)

});
</script>
